<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="laptop" class="org.example.IOC_WITH_XML.Laptop">

        <property name="brand" value="Dell"/>
        <property name="ram" value="16"/>
        <property name="processor" value="Intel i7"/>
        <property name="price" value="85000"/>

    </bean>
    <bean id="laptop2" class="org.example.IOC_WITH_XML.Laptop">

        <property name="brand" value="TUF"/>
        <property name="ram" value="16"/>
        <property name="processor" value="RYZEN"/>
        <property name="price" value="75000"/>

    </bean>

    <bean id="laptop3" class="org.example.IOC_WITH_XML.Laptop"/>
    <bean id="dev" class="org.example.IOC_WITH_XML.Developer">
        <property name="laptop" ref="laptop"/>
    </bean>

</beans>